/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 3.5% 2% 3.5%;
  background-color: var(--white-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
}

.header.toppage {
  background-color: transparent;
  box-shadow: none;
}

.logo_title {
  font-family: "NotoSansJP-ExtraBold", sans-serif;
  font-size: 2.9rem;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  color: var(--text--black-color);
}

.logo_slogan {
  width: 150px;
  height: 12.7px;
  background: #000000;
  font-size: 0.4rem;
  line-height: 12.7px;
  text-align: center;
  color: var(--text--white-color);
  letter-spacing: 2px;
}

.navbar {
  text-transform: uppercase;
  display: flex;
  gap: 2.3rem;
}
.navbar_option {
  font-size: 1.2rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_option > a {
  color: var(--text--black-color);
  text-decoration: none;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.navbar_option.active > a {
  border-bottom: 2px solid #000000;
}

/* Floating Div */
.top {
  height: 100%;
  width: 100%;
  position: relative;
}
.top_floating_left {
  position: absolute;
  width: 100vw;
  height: 110vh;
  background-color: var(--white-color);
  transform: rotate(-45deg) translateX(22.7vh) translateY(-76vh);
}
.top_floating_right {
  position: absolute;
  width: 110vw;
  height: 112vw;
  background-color: blue;
  transform: rotate(-45deg) translateX(65vw) translateY(51.2vh);
  z-index: 4;
}

.top_background {
  height: 100vh;
  width: 100vw;
  background-image: url("../image/1044851.jpg");
  background-size: cover;
}
.top_content {
  padding: 8.5% 11%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 1.8rem;
  z-index: 4;
}
.top_introduce {
  font-size: 1.9rem;
  font-weight: 900;
  line-height: 3.5rem;
}
.top_slogan {
  font-size: 5rem;
  font-weight: 100;
  word-spacing: 1rem;
  line-height: 94px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text--black-color);
  opacity: 0.3;
  margin: 80px 0 18px 0;
}
.top_description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2.5px;
  font-style: normal;
}

.feature {
  height: 129vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.feature_floating_left {
  position: absolute;
  width: 140vw;
  height: 53vw;
  background-color: var(--white-color);
  transform: rotate(-45deg) translateX(-30%) translateY(-81.9%);
  z-index: 3;
}
.feature_background {
  height: 100%;
  width: 100%;
  background-image: url("../image/106334512-1578952885079gettyimages-965462186.jpg");
  background-size: cover;
}

.feature_content {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 4;
}

.feature_content-block {
  width: 30%;
  position: absolute;
}
.feature_title {
  font-family: "NotoSansJP-Medium", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0 35px 0;
}

.feature_description {
  font-family: "NotoSansJP-Regular", sans-serif;
  line-height: 2.2rem;
  font-size: 1.3rem;
}

.feature_readmore {
  background-color: #696969;
  color: var(--text--white-color);
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "NotoSansJP-Bold", sans-serif;
  margin-top:15px;
  padding: 3px 32px;
  letter-spacing: 2px;
  clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}

.feature_content-block.service {
  top: 11%;
  left: 11%;
}
.feature_content-block.solution {
  top: 27%;
  right: 11%;
}

.feature_content-block.company {
  bottom: 5%;
  left: 28.5%;
}

#cloud_section {
  width: 100%;
  height: 78vh;
  position: relative;
}
.cloud {
  width: 100%;
  height: 100%;
  padding: 4% 12%;
  position: absolute;
  box-sizing: border-box;
  background-color: var(--white-color);
  z-index: 99;
}
.cloud_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cloud_title {
  font-size: 2.35rem;
  font-weight: normal;
  line-height: 2.4px;
  margin: 60px 0 25px 0;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
}
.cloud_description {
  font-family: "NotoSansJP-Regular", sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  margin: 0 0 40px 0;
}
.cloud_icons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5% 0 2% 0;
}
.cloud_line {
  width: 87%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}
.cloud_icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cloud_image {
  width: 86px;
  height: 52px;
  object-fit: cover;
}
.cloud_name {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.3rem;
  font-style: normal;
  text-align: center;
}
.case {
  width: 100%;
  height: 93vh;
  display: flex;
  padding: 7.5% 5%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
}
.case_header {
  margin-bottom: 60px;
}
.case_title {
  font-family: "NotoSansJP-ExtraBold", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 38px;
  letter-spacing: 4px;
  margin: 0;
  font-style: normal;
  text-align: center;
}
.case_description {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  font-family: "NotoSansJP-Regular", sans-serif;
}

.case_items {
  display: flex;
  gap: 6vw;
}
.case_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.case_item-image {
  height: 32vh;
  width: 36vw;
  object-fit: cover;
}
.case_button {
  background-color: var(--white-color);
  width: 36vw;
  padding: 5.5% 5%;
  border-color: #696969;
  font-size: 1rem;
  font-family: "NotoSansJP-Bold", sans-serif;
  font-weight: normal;
  font-style: normal;
  border-width: 1px;
  border-style: solid;
  margin-top: 4.5vh;
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
}
.case_number {
  letter-spacing: 1px;
  position: absolute;
  top: -4.5vh;
  left: -1px;
  width: 22%;
  height: 4.5vh;
  line-height: 3.5vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  color: var(--text--white-color);
  justify-content: center;
  background-color: #696969;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.case_button::before {
  content: "";
  position: absolute;
  top: 42%;
  right: 12px;
  transform: rotate(180deg);
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #696969 transparent transparent;
}

.news {
  width: 100%;
  height: 120.5vh;
  box-sizing: border-box;
}
.news_header {
  text-align: center;
  padding: 7% 0 5.5% 0;
}
.news_title {
  font-family: "NotoSansJP-Medium", sans-serif;
  font-size: 2.3rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.news_description {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 2px;
}
.news_content {
  width: 100%;
  padding: 0 11%;
  box-sizing: border-box;
}
.news_filter {
  display: flex;
  gap: 1%;
}
.news_filter-button {
  padding: 2px 1.5%;
  background-color: var(--text--white-color);
  border-color: #696969;
  border-width: 2px;
  font-size: 1rem;
  letter-spacing: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "NotoSansJP-Bold", sans-serif;
}
.news_filter-button.active {
  background-color: #696969;
  color: var(--text--white-color);
}
.news_table {
  font-size: 0.8rem;
  color: #666666;
  padding: 2% 0;
}
.news_link {
  display: flex;
  position: relative;
  font-size: 1rem;
  letter-spacing: 2px;
  gap: 5%;
  padding: 2%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.news_link-icon {
  position: absolute;
  right: 20px;
}
.footer {
  height: 50vh;
  width: 100%;
  background-color: #262626;
  color: var(--text--white-color);
  padding: 5% 5% 1% 5%;
  box-sizing: border-box;
  display: flex;
}
.footer_infors {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer_left {
  width: 30%;
}
.footer_infor {
  font-family: "NotoSansJP-Medium", sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.3rem;
  font-style: normal;
  text-align: left;
  letter-spacing: 2px;
}

.footer-logo_title {
  font-family: "NotoSansJP-ExtraBold", sans-serif;
  font-size: 3.2rem;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 15px 0;
}

.footer-logo_slogan {
  width: 10rem;
  height: 2.7vh;
  background: #ffffff;
  font-size: 0.7rem;
  line-height: 2.7vh;
  text-align: center;
  color: #262626;
  letter-spacing: 2px;
}

.footer_right {
  height: 100%;
  width: 70%;
  padding: 0 0 0 10%;
  position: relative;
}
.footer_pages {
  display: flex;
  width: 100%;
}
.footer_page {
  width: 25%;
}
.footer_page-name {
  font-family: "NotoSansJP-Medium", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer_page-parts {
  list-style: none;
  padding: 0 0 0 1%;
}
.footer_page-part {
  font-family: "NotoSansJP-Regular";
  font-size: 0.7rem;
  font-weight: normal;
  padding-bottom: 0.4rem;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
}
.footer_security{
  position: absolute;
  right: -30px;
  bottom: 0;
  font-family: "NotoSansJP-Medium", sans-serif;
  font-size: 0.6rem;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}
.footer_policy{
  margin-right: 10px;
}
/* Service Page */
.page_introduce-container{
  width: 100%;
  height: 35vh;
  padding-top:8%;
  text-align: center;
  background-image: url('../image/1044851.jpg');
}
.page_introduce-block{
  position: absolute;
  height: 50vh;
  width: 50vh;
  background-color: var(--white-color);
  transform: rotate(45deg) translateX(50%) translateY(-135%);

  z-index: 1;
}

.page_introduce-content{
  margin-top:4%;
 position: relative;
  z-index: 3;
}
.page_introduce-title{
  font-family: "NotoSansJP-Medium";
  text-transform: uppercase;
font-size: 1.9rem;
font-weight: normal;
line-height: 1.9rem;
font-style: normal;
margin:0;
letter-spacing: 4px;
}
.page_introduce-sub{
  font-family: "NotoSansCJKjp-Regular";
font-size: 0.7rem;
font-weight: normal;
line-height: 1rem;
font-style: normal;
text-align: center;
color: #292929;
}
.page_introduce-description{
  font-family: "NotoSansJP-Medium";
font-size: 0.9rem;
font-weight: normal;
line-height: 1.4rem;
font-style: normal;
text-align: center;
color: #292929;
margin-top:3%;
letter-spacing: 4px;
}
#it_service{
  height: 80vh;
  width: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
  text-align: center;
  
}
.it_services{
  display: flex;
  justify-content: space-between;
}
.it_service{
  width: 30%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.it_service-header{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.it_service-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
  background: #8a8bbf;
  z-index: 2;
  opacity: 0.7; 
  border-radius: 8px;
}
#it_service-header1{
  background-image: url('../image/it_service_1.png');
  height: 100%;
  width: 80%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#it_service-header2{
  background-image: url('../image/it_service_2.png');
  height: 100%;
  width: 80%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#it_service-header3{
  background-image: url('../image/it_service_3.png');
  height: 100%;
  width: 80%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.it_service-image-name{
  font-family: "NotoSansJP-Bold";
font-size: 1.1rem;
font-weight: normal;
line-height: 2rem;
font-style: normal;
text-align: center;
color: var(--text--white-color);
z-index: 3;
position: relative;
}
.it_service-features{
  width: 65%;
  list-style: none;
  height: 40%;
}
.it_service-feature{
  font-family: "NotoSansJP-Medium";
font-size: 0.9rem;
font-weight: normal;
line-height: 2rem;
font-style: normal;
text-align: left;
color: #191919;
position: relative;
}
.it_service-feature::before{
  content: "•"; 
  color: #8a8bbf;
  font-size: 1.5rem;
  line-height: 1rem;
  position: absolute;
  left:-1rem;
  top:0.4rem;
}