/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1% 5% 1% 2%;
  background-color: var(--white-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
}

.header.toppage {
  background-color: transparent;
}

.logo_title {
  font-family: "NotoSansJP-ExtraBold", sans-serif;
  font-size: 2.18rem;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  color:var(--text--black-color);
}

.logo_slogan {
  width: 150px;
  height: 12.7px;
  background: #000000;
  font-size: 0.4rem;
  line-height: 12.7px;
  text-align: center;
  color: var(--text--white-color);
  letter-spacing: 2px;
}

.navbar {
  text-transform: uppercase;
  display: flex;
  gap: 50px;
}
.navbar_option {
  font-size: 1rem;
  font-weight: normal;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_option > span {
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.navbar_option.active > span {
  border-bottom: 2px solid #000000;
}

/* Floating Div */
.top{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.top_floating_left {
    position: absolute;
    width: 100vw;
    height: 110vh;
    background-color: var(--white-color);
    transform: rotate(-45deg) translateX(20vh) translateY(-80vh);
}
.top_floating_right {
    position: absolute;
    width: 80vw;
    height: 80vw;
    background-color: var(--white-color);
    transform: rotate(-45deg) translateX(70vw) translateY(62vh);
}

.top_background{
    height: 100vh;
    width: 100vw;
    background-image: url('../image/1044851.jpg'); 
    background-size: cover;
}
.top_content{
  padding:10% 14%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  font-size: 1.2rem;
  z-index: 4;
}
.top_introduce{
  font-size: 1.59rem;
  font-weight: 900;
}
.top_slogan{
  font-size: 4rem;
  font-weight: 100;
  line-height: 94px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color:#9f91ac;
  opacity: 0.5;
  margin:100px 0 45px 0;
}
.top_description{
  text-align: center;
  font-size: 1rem;
font-weight: 700;
line-height: 36px;
font-style: normal;
}

.feature{
    height: 129vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.feature_floating_left {
    position: absolute;
    width: 140vw;
    height: 53vw;
    background-color: var(--white-color);
    transform: rotate(-45deg) translateX(-30%) translateY(-81.9%);
    z-index: 3;
}
.feature_floating_right {
    position: absolute;
    width: 80vw;
    height: 100vw;
    background-color: red; 
    transform: rotate(-45deg) translateX(110vw) translateY(-40vh);
    z-index: 2;
}

.feature_background{
    height: 100%;
    width: 100%;
    background-image: url('../image/106334512-1578952885079gettyimages-965462186.jpg'); 
    background-size: cover;
}

.feature_content{
  height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 4;
}

.feature_content-block{
  width: 30%;
  position: absolute;
}
.feature_title{
font-size: 40px;
font-weight: normal;
line-height: 26px;
font-style: normal;
text-align: left;
text-transform: uppercase;
letter-spacing: 2px;
margin:20px 0;
}

.feature_description{
  line-height: 40px;
  font-size: 0.9rem;
}

.feature_readmore{
  background-color: #696969;
  color: var(--text--white-color);
  border: none;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-family: "NotoSansJP-Bold", sans-serif;
  padding:3px 30px;
   clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.feature_content-block.service{
    top:10%;
    left:10%;
}
.feature_content-block.solution{
  top:25%;
  right:10%;
}

.feature_content-block.company{
  bottom:10%;
  left:40%;
}

.cloud{
  width: 100%;
  height: 60vh;
  padding:4% 15%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--text--black-color) ;
}
.cloud_title{
  font-size: 36px;
font-weight: normal;
line-height: 26px;
margin:50px 0 20px 0;
font-style: normal;
text-align: center;
letter-spacing: 2px;
}
.cloud_description{
  font-family: "NotoSansJP-Regular",sans-serif;
font-size: 16px;
font-weight: normal;
line-height: 36px;
font-style: normal;
text-align: center;
margin: 0 0 40px 0;
}
.cloud_icons{
  border-top:1px solid var(--text--black-color);
  display: flex;
  width: 70%;
  padding:5% 0 2% 0;
}
.cloud_icon{
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cloud_image{
  width: 86px;
  height: 52px;
  object-fit: cover;
}
.cloud_name{
  font-size: 20px;
font-weight: normal;
line-height: 36px;
font-style: normal;
text-align: center;
}